body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
  h1{
    font-size: 50px;
  }
  .orange-color{
    color: orange;
  }
  section{
    display: flex;
  }
  .welcome{
    width: 50%;
    padding-left: 5%;
  }
  .welcome img{
    width: 80%;
  }
  .button{
text-decoration: none; 
background-image: linear-gradient(rgb(221, 148, 14), rgb(212, 77, 53)
);
    padding: 10px 40px;
    color: rgb(173, 16, 16);
    color: white;
    font-weight: 700;
    border-radius: 100px;
  }
  .top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  }