body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 40px;
  }
  .orange-color{
    color: orange;
  }
  .flexble{
    display: flex;
    margin-bottom: 250px;
  }
  .welcome{
    width: 50%;
    padding-left: 5%;
    
  }
  .welcome img{
    width: 80%;
  }
  .button{
text-decoration: none; 
background-image: linear-gradient(rgb(221, 148, 14), rgb(212, 77, 53)
);
    padding: 10px 40px;
    color: rgb(173, 16, 16);
    color: white;
    font-weight: 700;
    border-radius: 100px;
  }
  .top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  }
  .dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  .experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  .web-developer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px  rgb(224, 109, 27);
  
  }
 #web-developer-experi{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 2;
 }
 #web-developer-experi2{
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 2;
 }
 footer p{
  text-align: center;
 }
 #Calculator{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(90, 152, 110), rgb(5, 81, 78));
  border-image-slice: 2;
 }
 .Calculator{
  width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px  rgb(43, 20, 3);
  
 }
 .link{
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgb(80, 61, 24), rgb(212, 77, 53)
);
padding: 10px 40px;
    
    color: white;
    font-weight: 400;
    border-radius: 100px;
 }